@tailwind base;
@tailwind components;
@tailwind utilities;

@url ("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar {
  scrollbar-width: 30px;
  scrollbar-color: var(--main-color) #222;
  overflow-x: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 0;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 10px;
  border: 2px solid #f1f5f9;
  transition: 0.5s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0ea5e9;
}




